<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/selenium/CA4_2/src/test/java/org/example/AppTest.java">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="url" value="http://webdriveruniversity.com/Dropdown-Checkboxes-RadioButtons/index.html"></parameter>
        <classes>
            <class name="org.example.AppTest">
                <methods>
                    <include name="dropdown1"/>
                    <include name="dropdown2"/>
                    <include name="dropdown3"/>
                    <include name="checkbox1"/>
                    <include name="checkbox2"/>
                    <include name="radio"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>